<!--STICKY HEADER-->
<div class="header">

  <!--GRID IN HEADER-->
  <div    class="header-box"><a routerLink="/"><img id="logo"  src="./assets/imgs/applogo.png"></a></div>
  <div    class="header-box"><a  id="nav1" routerLink="/" >COURSES</a></div>
  <div    class="header-box"><a id = "nav2" routerLink="/wishlist">MY WISHLIST</a></div>
  <div    class="header-box">  <a routerLink="/cart"> <img id="cart" src="./assets/imgs/cart.png">  </a></div>
  <div    class="header-box"><a routerLink="/profile"> <img id="user" src="./assets/imgs/user.jpg"></a></div>

</div>
